html{
    color: white;
    background-color: black;
    text-align: center;
}
img{
    width: 50%;
    border: 2px solid white;
    margin: 100px;

}
h1, p{
    margin-left: 170px;
    text-align: center;
}
